/*
This stylesheet is loosely based on this guide:
https://www.sitepoint.com/building-an-interactive-navigation-bar/
*/

html, body{
  font-family: Verdana,sans-serif;
  font-size: 17px;
}

/* Give the body a width */
body {
  width: 100%;
}

section, aside {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  width: 100%;
  margin: 0;
  background-color: #222;
}

/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* this is important: fills up remaining horizontal space. */
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 14px 16px;
  display: inline-block;
  background-color: #222;
  color: #ddd;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover{
  background-color: #555;
  color: #fff;
}

nav ul li input{
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 4px;
  width: 200px;
}

/* CLASSES */

.rightli{
  float: right;
}

.github-icon-link{
  padding: 0 16px;
}

.fa-github{
  line-height: 45px; /* 2x padding + font size */
  height: 45px;
}

nav ul li.nav-icon{
  display: none;
}

/* MAKE NAVBAR RESPONSIVE */

@media screen and (max-width:680px) {
  nav ul li:not(:first-child) {display: none;}
  nav ul li.nav-icon {
    float: right;
    display: inline-block;
  }
}

/* DEBUG SECTION */

section, aside{
  border: 1px solid red;
}