body{
  background: #ffc3a0;
  background: -moz-linear-gradient(top, #ffc3a0 0%, #FFAFBD 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffc3a0 0%,#FFAFBD 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffc3a0 0%,#FFAFBD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}

footer{
  color: #ddd;
  background: #572832;
}

section, aside{
  background: #ffe;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}