html, body{
  height: 100%;
  margin: 0;
}
.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}
footer, .push{
  height: 50px;
}
footer{
  color: #fff;
  background-color: #42a5f5;
}
.footer-content{
  padding: 10px 10px 10px 10px;
}